@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d1321;
  color: #f0ebd8;
  font-family: "Montserrat", sans-serif;
}

.add-file-container,
.create-subject-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: #1d2d44;
  border-radius: 20px;
  width: 50%;
  min-width: 500px;
  padding: 10px;
}

.form-style-1 {
  width: 60%;
}
.form-style-1 .form-element {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.form-style-1 input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px;
  border-radius: 5px;
  border: 0;
  width: 100%;
}
.form-style-1 label {
  width: 45%;
}
.form-style-1 input[type=file] {
  background-color: #748cab;
}
.form-style-1 label {
  margin-right: 20px;
}
.form-style-1 .submit-button {
  background-color: #f0ebd8;
  padding: 10px;
  cursor: pointer;
}
.form-style-1 span {
  font-size: small;
  color: #748cab;
}
.form-style-1 .checkbox-element {
  display: flex;
  align-items: center;
}
.form-style-1 .checkbox-element label {
  width: 100%;
}
.form-style-1 .checkbox-element input {
  width: 10%;
}

.center-page {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.warning {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: #e8c25a;
  color: black;
}
.warning img {
  margin-right: 10px;
}

.error {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  width: 90%;
  margin: auto;
  background-color: #e8645a;
  color: black;
}
.error img {
  margin-right: 10px;
}

.button {
  background-color: #f0ebd8;
  color: rgb(32, 32, 32);
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.modal-window-container {
  position: absolute;
  display: flex;
  background-color: rgba(63, 63, 63, 0.582);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}
.modal-window-container .content {
  padding: 30px;
  background-color: #3e5c76;
  box-shadow: rgba(136, 136, 136, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  font-size: small;
  z-index: 10;
}
.navbar .element {
  position: relative;
  color: #aaefef;
  margin: 30px;
  display: flex;
  justify-content: center;
}
.navbar .element .line {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  width: 120%;
  height: 100%;
}
.navbar .element .line div {
  width: 100%;
  height: 0%;
  background-color: #3e5c76;
  transition: 0.1s ease-in-out;
  border-radius: 10px;
  z-index: -1;
}
.navbar .element:hover .line div {
  height: 100%;
  padding: 5px;
  transition: 0.1s ease-in-out;
}

.icon-button {
  margin-left: 10px;
  padding: 10px;
  background-color: #1d2d44;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
}

.icon-button:not(button) {
  width: 20px;
  height: 20px;
}

.icon-button {
  width: 40px;
  height: 40px;
}/*# sourceMappingURL=styles.css.map */